body{
	background-color: #e5e5e5;
}

h1{
	text-align: center;
}

.contenedor{
	width: 100%;
	height: 944px;
	background-color: #e5e5e5;
	display: flex;
	justify-content: space-evenly;
}

.izquierda{
	height: 100%;
	width: 65%;
	background-color: #e5e5e5;
}

.derecha{
	height: 100%;
	width: 35%;
	background-color: #e5e5e5;
}

.input{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 1%;
	margin-bottom: 1%;
	width: 95.5%;
	height: 85%;
	background-color: #e5e5e5;
}

.output{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 1%;
	margin-bottom: 1%;
	width: 95.5%;
	height: 85%;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.18);
}

button{
	border-color: #00008b;
	background-color: #d8dfe8;
	border-radius: 24px;
	width: 49%;
	height: 50%;
	font-size: 16px;
	color: #22228b;
	text-align: middle;
	max-height: 47.2px;
}

button:hover{
	background-color: #22228b;
	color: #d8dfe8;
}

button:active{
	background-color: #44449b;
	color: #d8dfe8;
}

textarea{
	font-size: 25px;
	border: none;
	resize: none;
}

textarea:focus{
	outline: none;
}

.btn_izq{
	height: 13%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn_der{
	height: 13%;
	display: flex;
	align-items: center;
}

.btn_cripto{
	width: 95%;
	height: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.encriptar{
	height: 100%;
}

.desencriptar{
	height: 100%;
}

.borrar{
	margin-left: 50%;
	transform: translateX(-50%);
	width: 95.5%;
}

.copiar{
	margin-left: 50%;
	transform: translateX(-50%);
	width: 95.5%;
}